@model AspCRUD.Models.Product
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-mg-12">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Name</li>
            <li class="list-group-item">@Model.Quantity</li>
            <li class="list-group-item">@Model.Price</li>
            <li class="list-group-item">@Model.TotalPrice</li>
            <li class="list-group-item">@Model.Category.Name</li>
        </ul>
    </div>
</div>

